logs/
.idea/
.DS_Store
docker/dev_compose/.env

# Terraform config
.terraform
*.tfstate*

# Netbeans project files
nbproject/
tools/MapleCouponInstaller/nbproject/
tools/MapleIdRetriever/nbproject/
tools/MobBookIndexer/nbproject/
tools/MobBookUpdate/nbproject/

# build files
build/
tools/MapleCouponInstaller/build/
tools/MapleIdRetriever/build/
tools/MobBookIndexer/build/
tools/MobBookUpdate/build/

# auto dependencies
lib/

# dist files
dist/

#Config
configuration.ini

#Server
*.pem
*.ppk

launch.bat
